-# SETTINGS
- require 'yaml'
- events   = YAML.load(File.read("data/events.yaml"))
- pictures = %w(7 10 9 8 1 2 3 4 5 6)
- mixcloud_url = "https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fdrunkenmarias%2Fpodcast-4-soul-funk-madness%2F"
-# END SETTINGS

!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, user-scalable=no", :name => "viewport"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %title Drunken Maria's
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:language => "javascript", :src => "js/jquery-2.1.4.min.js"}
    %script{:language => "javascript", :src => "js/jquery.event.swipe.js"}
    %script{:language => "javascript", :src => "js/unslider.min.js"}
    %script{:language => "javascript", :src => "js/dm.js"}
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.3&appId=244668138949903";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

    .center
      .pg.intro
        %img.logo{:src => "logo.png"}/
        .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/drunkenmarias", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true"}
        %p.intro
          Drunken Maria's zijn 2 DJ's die vanwege een tijdreisongeluk zijn
          teruggekomen naar het heden. Gelukkig hadden Jesse en Gerard nog de
          mogelijkheid om hun geliefde platenkoffers mee te mogen nemen. Gewapend
          met een bult 60s en 70s soul, funk, surf, beat, pop, rock met exotische
          en psychedelische tintjes schudden Jesse en Gerard de heupjes los.

        .buttons
          %a.btn.big{:href => "mailto:booking@drunkenmarias.nl"} BOUW EEN FEESTJE!
          %span.or OF
          %a.btn.big{:href => "robot.html"} HUUR EEN ROBOT!
      .pg.photos
        .slider-wrapper
          .slider
            %ul
              - pictures.each do |picture|
                %li
                  %img{:src => "fotos/#{ picture }.jpg"}/

          %a.btn.prev.left.small{:href => "#!"} <
          %a.btn.next.right.small{:href => "#!"} >
      .pg.gigs
        - events.each do |year, year_events|
          %ul
            %li
              %strong= year
              %ul
                - year_events.each do |event|
                  - event_date = Date.new(year, *event["date"].split("/").map(&:to_i).reverse)
                  %li{class: ("old" if event_date < DateTime.now) }
                    %span= event["date"]
                    = event["event"]

        %em.note * Evenement als Kofferbaque (Gerard)
      .pg.mixcloud
        %h2 Mixcloud
        %iframe{:frameborder => "0", :height => "180", :src => mixcloud_url, :width => "100%"}
      %footer
        = "©#{ Time.now.year } - Drunken Marias"
        %div
          %span
            %a{:href => "https://facebook.com/drunkenmarias", :target => "_blank"} Facebook
          %span
            %a{:href => "https://www.mixcloud.com/drunkenmarias/", :target => "_blank"} Mixcloud
